fastapi==0.115.0      # or Flask==3.0.3 depending on your framework
uvicorn==0.30.1       # ASGI server for FastAPI
jinja2==3.1.6         # templating
requests==2.32.4
boto3==1.40.15        # if you're using AWS
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
gunicorn
flask
